

<div class="card" style="width: 18rem;">
  <img class="card-img-top img-thumbnail" src={{collegue.urlImage}} alt="Card image cap">
  <div class="card-body">
    <div class="text-center">
    <h5 class="card-title">{{collegue.nom}}</h5>
  </div>
    <div class="text-center">
    <strong class="card-text">{{collegue.score}}</strong>
  </div>
  <br>
    <div class="text-center">
    <a class="btn btn-primary" (click)='jaime()'>J'aime</a>
    <a class="btn btn-primary" (click)='jedeteste()'>Je deteste</a>
  </div>
</div>
</div>
