<body>
  <div class='container' id="ajoutCollegue">
    <div class='row'>
      <div class='col-12 text-center'>
        <h1>Top Collegues</h1>
      </div>
      <br>
      <div class='col-12'>
        <h3>Les meilleurs collegues du mois</h3>
      </div>

    </div>
    <form>
      <div class="form-group">
        <label for="InputPseudo">Pseudo</label>
        <input type="text" #pseudo class="form-control" id="Pseudo" aria-describedby="Pseudo" placeholder="Pseudo">
      </div>
      <div class="form-group">
        <label for="InputUrlImage">UrlImage</label>
        <input type="text" #imageUrl class="form-control" id="UrlImage" placeholder="UrlImage">
      </div>
      <button (click)="add(pseudo, imageUrl)" class='btn btn-primary'>Ajouter un nouveau collègue</button>
    </form>




  </div>
  <br>
  <div class="container" id="{{validation}}">{{message}}

  </div>
  <div class="container ">
    <nav class="nav nav-pills nav-fill">
      <a class="nav-item nav-link" routerLink="/principal" routerLinkActive="btn btn-outline-secondary">principal</a>
      <a class="nav-item nav-link" routerLink="/tableau" routerLinkActive="btn btn-outline-secondary">Tableau</a>
      <a class="nav-item nav-link" routerLink="/caroussel" routerLinkActive="btn btn-outline-secondary">Caroussel</a>
    </nav>
    <br>
    <br>

    <router-outlet></router-outlet>


  </div>
</body>