<header>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</header>




<body>
  <br>
  <div class="container">
    <app-connection></app-connection>
  </div>

  <br>
  <br>
  <div class='container' id="ajoutCollegue">
    <div class='row'>
      <div class='col-12 text-center'>
        <h1>Top Collegues</h1>
      </div>
      <br>
      <div class='col-12'>
        <h3>Les meilleurs collegues du mois</h3>
      </div>

    </div>
    <form>
      <div class="form-group">
        <label for="InputPseudo">Pseudo</label>
        <input type="text" #pseudo class="form-control" id="Pseudo" aria-describedby="Pseudo" placeholder="Pseudo">
      </div>
      <div class="form-group">
        <label for="InputUrlImage">UrlImage</label>
        <input type="text" #imageUrl class="form-control" id="UrlImage" placeholder="UrlImage">
      </div>
      <button (click)="add(pseudo, imageUrl)" class='btn btn-primary' #AjoutCollegue>Ajouter un nouveau collègue</button>
    </form>




  </div>
  <br>
  <div class="container" id="{{validation}}">{{message}}

  </div>
  <div class="container ">
    <nav class="nav nav-pills nav-fill">
      <a class="nav-item nav-link" routerLink="/principal" routerLinkActive="btn btn-outline-secondary">principal</a>
      <a class="nav-item nav-link" routerLink="/tableau" routerLinkActive="btn btn-outline-secondary">Tableau</a>
      <a class="nav-item nav-link" routerLink="/caroussel" routerLinkActive="btn btn-outline-secondary">Caroussel</a>
    </nav>
    <br>
    <br>
    <app-votre-dernier-avis>

    </app-votre-dernier-avis>
    <router-outlet></router-outlet>
    <app-votre-dernier-avis>

    </app-votre-dernier-avis>

  </div>
</body>